.contact-logo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.contact h1{
    font-size: 52px;
    font-weight: 500;
    line-height: 62.93px;
    margin-top: 140px;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input {
  border: none;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  border-bottom: 1px solid #b9b9b9;
  margin-top: 65px;
}

.contact-form textarea {
    border: none;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    border-bottom: 1px solid #b9b9b9;
    margin-top: 65px;
    display: flex;
  }
