.experiments-logo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.experiments-box {
    color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.experiments-box h1{
    font-size: 120px;
}