.experiements {
    color: white;
    position: relative;
}

.expiriements-box {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    margin-top: 140px;
}

.expiriement {
    border-bottom: 1px solid var(--color-grey);
}

.expiriement h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 47px;
    margin-bottom: 25px;
    margin-top: 25px;
}

