.expierences {
    
}

.expierence-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../../images/BlurryExperience.png');
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    width: 50%;
    margin:0;
    margin-top: 100px;
    font-family: inter !important;
}

.headline1 {
    color: white;
    margin: 0;
    font-size: 32px;
    font-family: inter !important;
    font-weight: 500;
}

.headline2 {
    color: #9F9D9D;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.experience h4 {
    color: #BE24A5;
    font-size: 18px;
    line-height: 28px;
    margin: 5px;
    margin-left: 0;
    font-weight: 500;
}

.experience p {
    color: #9F9D9D;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    font-weight: 400;
}


/*=== Moile-Screens-Tablet ===*/

@media only screen and (max-width: 1024px) {
    .experience {
        width: 100%;
    }

    .headline1 {
        font-size: 26px;
    }

    .headline2 {
        font-size: 26px;

    }
  }


  
    
    /*=== Moile-Screeen-Phone ===*/
    
    @media only screen and (max-width: 650px) {
        .headline1 {
            margin: 0;
            font-size: 14px;
            font-family: inter !important;
            font-weight: 500;
        }
        
        .headline2 {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }
        
        .experience h4 {
            font-size: 12px;
            line-height: 28px;
            margin: 5px;
            font-weight: 500;
            margin-left: 0;
        }
        
        .experience p {
            font-size: 12px;
            font-weight: normal;
            line-height: 28px;
            font-weight: 400;
        }
    }

