
.scroll-down-arrow {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 1.1vw;
    top: 890px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.turn-arround {
    margin-top: 20px;
    rotate: 90deg;
}

.hello-container {
    width: 100%;
    height: 900px;
    background-image: url('../../images/profile-picture.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
}

.hello {
    margin-top: 300px;
}

.hello-discription {
    width: 100%;
    margin-top: 100px;
}


.name {
    margin-top: 300px;
}

.about-me-links {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*=== Oversize Screens ===*/

@media only screen and (min-width: 2592px) {
    
    .scroll-down-arrow {
        display: none;
    }
    
}



/*=== Moile-Screens-Tablet ===*/
@media only screen and (max-width: 1024px) {
    .scroll-down-arrow {
        display: none;
    }

    .hello-container {
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .hello-discription {
        margin-top: 0;
    }

    .h1-small {
        font-weight: 700;
        font-size: 5vw;
    }
    
    .hello {
        margin-top: 100px;
    }
    
    .name {
        margin-top: 0;
    }
}



/*=== Moile-Screeen-Phone ===*/

@media only screen and (max-width: 650px) {
    .hello-container {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
  }


