.main {
    margin: auto;
    height: 835px;
    color: white;
    background-image: url('../../images/profile-picture.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    display: flex;
    justify-content: space-between;
}

.main h1{
    font-family: Franchise-Free-Bold;
    font-size: 10vw;
}

.main p {
    font-size: 0.5vw;
    font-family: Inter;
}

.main a { 
    font-size: 0.5vw;
    font-family: Inter;
    margin-left: 40px;
}

img{
    margin-left: 10px;
}

.hello {
    width: 30%;
    margin-top: 160px;
}

.scroll-down {
    margin-top: 200px;
    font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
}

.scroll-down img {
    margin-left: 0 !important;
}

.scroll-down a {
    margin-left: 9px;
}







.myName {
    margin-top: 160px;
    width: 30%;
}







.about-me-text{
    width: 80%;
    margin: auto;
    font-family: Franchise-Free-Bold;
    color: #9F9D9D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-text h2 {
    margin: 0;
    font-size: 3.8vw;
    color: #9F9D9D;
}

.first-sentence {
    display: flex;
}

.first-sentence h2 {
    font-size: 4vw;
    color: #9F9D9D;
}

.white-letters{
    color: white !important;
}

.last-sentence {
  font-size: 4vm;
}
