.Me-text {
    margin-top: 175px;
    width: 100%;
    font-size: 6.5vw;
    font-family: "Franchise-Free-Bold";
    text-align: left;
    background-image: url('../../images/BlurryMebg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.Me-text p {
    color: var(--color-grey);
    
}

.center-text {
    padding-left: 8.4vw;
}

/*=== Oversize Screens ===*/

@media only screen and (min-width: 2592px) {
    .Me-text {
        font-size: 200px;
    }
}

/*=== Moile-Screens-Tablet ===*/

@media only screen and (max-width: 1024px) {
    .Me-text {
        margin-top: 0px;
        font-size: 7.5vw;
    }

    .center-text {
        padding-left: 20vw;
    }
  }

 /*=== Moile-Screeen-Phone ===*/

@media only screen and (max-width: 650px) {
    .Me-text {
        margin-top: 0;
        width: 100%;
        font-size: 8vw;
        font-family: "Franchise-Free-Bold";
        text-align: left;
    }
  } 