.Navbar {
    margin-top: 36px;
    height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.Nav-list {
    position: absolute ;
    right: 0 ;
    font-weight: 500;
    font-family: Inter;
}

.Nav-list > a {
    font-size: 12px;
}




