.others-says {
    margin-top: 500px;
}

.comment {
    margin-top: 150px !important;
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: start;
    margin-left: 100px;
}

.quotation-marks {
    font-size: 92px;
}

.description-box {
    margin-left: 40px;
}

.description {
    width: 80%;
    font-size: 42px;
    line-height: 50px;
    font-weight: 300;
    margin: 0;
   
}

.person {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 25px !important;
}

.title {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 16.03px;
    color: #9F9D9D;
    margin: 0;
    margin-top: 9px;
}