
.skill-logo {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.skill-box {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.skill {
    width: 40%;
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.skill h2 {
    color: white;
    font-size: 20px;
}

.skill p {
    color: white;
    color: #B9B9B9;
}