
.skills {
    margin-top: 600px;
    position: relative;
    height: auto;
    margin-left: 100px;
}

.skill-box {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    position: absolute;
}

.skill{
    width: 40%;
    margin-top:80px;
}

.one-skill {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.skill-text {
    margin-top: 5px;
    color: var(--color-grey);
    font-size: 16px;
    line-height:26px;
    font-weight: 300;
}



