
.skills {
    height: auto;
}

.skill-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.skill{
    width: 40%;
    margin-top:80px;
}

.one-skill {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.skill-text {
    margin-top: 5px;
    color: var(--color-grey);
    font-size: 16px;
    line-height:26px;
    font-weight: 300;
}

@media only screen and (max-width: 650px) {
    .skill-box{
        flex-direction: column;
    }

    .skill{
        width: 100%;
        margin-top:80px;
        padding-right: 5vw;
    }
  } 

  

