.technology-logo {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}



.technology-box {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.technology {
    width: 40%;
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.technology h2 {
    color: white;
    font-size: 20px;
}

.technology p {
    color: white;
    color: #B9B9B9;
}