* {
 background-color: black;
 font-family: 'Inter', sans-serif;
 color: white;
 font-size: 100%;
}

@font-face {
  font-family: "Franchise-Free-Bold";
  src: local("Franchise-Free-Bold"),
        url('./fonts/Franchise-Free-Bold.ttf');
        font-weight: bold;
}