* {
 margin: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 color: white;
}

:root {
  --color-purple: #BE24A5;
  --color-grey: #B9B9B9;
  --color-white:#fff;


  --container-width-lg:75%;
  --container-width-md:90%;
  --container-width-ms:95%;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 2592px;
  font-family: 'Inter', sans-serif;
  background-color: black;
  margin: auto;
}


@font-face {
  font-family: "Franchise-Free-Bold";
  src: local("Franchise-Free-Bold"),
        url('./fonts/Franchise-Free-Bold.ttf');
        font-weight: bold;
}

/*=== GENERAL STEYELS ===*/

.container {
  width: var(--container-width-ms) !important;
  margin-top:  0;
  margin: auto ;
}

.content {
  padding-left: 4vw;
}

h1 {
  font-size: 8vw;
}

.logo-size {
  height: 11.99px;
  width: 41.22px;
  object-fit: cover;
}

a {
  font-size: 12px;
}

a:hover{
  cursor: pointer;
}

.link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  
}

.arrow{
  margin-left: 7px;
}

.section-logo {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.display-mobile-none {
  display: all;
}

/*=== Oversize Screens ===*/

@media only screen and (min-width: 2592px) {
  h1 {
    font-size: 200px;
  }

  
}

/*=== Moile-Screens-Tablet ===*/

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 100px;
  }

  .display-mobile-none {
    display: none !important;
  }
}